<%= simple_form_for(@staff) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.association :store , :collection => @stores, :prompt => '-' %>
    <%= f.input :name %>
    <%= f.input :birthday %>
    <%= f.input :tel_no %>
    <%= f.button :submit %>
  </div>
<% end %>
