<%= simple_form_for @store, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :company %>
  <%= f.input :name %>
  <%= f.input :address1 %>
  <%= f.input :address2 %>
  <%= f.input :tel_no %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stores_path, :class => 'btn' %>
  </div>
<% end %>
