<h3>店舗</h3>
<hr>

<table class='table table-hover table-striped'>
  <tr>
    <th>Company</th>
    <th>Store</th>
    <th>Name</th>
    <th>Address</th>
    <th>Tel no</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.company.name %></td>
    <td><%= store.name %></td>
    <td><%= store.address %></td>
    <td><%= store.tel_no %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class="form-actions">
  <%= link_to 'New Store', new_store_path, :class => 'btn btn-primary' %>
</div>