<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @store.company_id %>
</p>

<p>
  <b>Store:</b>
  <%= @store.store %>
</p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Address:</b>
  <%= @store.address %>
</p>

<p>
  <b>Tel no:</b>
  <%= @store.tel_no %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
