<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>

<%= link_to "button1", :action => "button1" %>
<%= link_to "button2", :action => "button2" %>
<%= link_to "button3", :action => "button3" %>
<%= link_to "button4", :action => "button4" %>
<%= link_to "button5", :action => "button5" %>
<%= link_to "button6", :action => "button6" %>


