<h1>Listing companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Tel no</th>
    <th>Start at</th>
    <th>End at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.address %></td>
    <td><%= company.tel_no %></td>
    <td><%= company.start_at %></td>
    <td><%= company.end_at %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
