<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Tel no:</b>
  <%= @company.tel_no %>
</p>

<p>
  <b>Start at:</b>
  <%= @company.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @company.end_at %>
</p>

<div class="form-actions">
  <%= link_to 'Edit', edit_company_path(@company),:class => 'btn' %>
  <%= link_to 'Back', companies_path, :class => 'btn' %>
</div>
