<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="form-inputs">
  <%= f.input :account %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me ,:as => :radio_buttons%>
  <% end -%>
  </div>
  
  <div class="form-inputs">
  	<div><%= f.button :submit ,"Sign in" %></div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
