<%= simple_form_for(@car) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :maker, :collection => @makers, :prompt => '-' %>
    <%= f.association :car_name, :collection => @car_names, :prompt => '-' %>
    <%= f.input :grade %>
    <%= f.button :submit %>
  </div>
<% end %>
