<p>
  <b>Maker:</b>
  <%= @car.maker_id %>
</p>

<p>
  <b>Car name:</b>
  <%= @car.car_name_id %>
</p>

<p>
  <b>Grade:</b>
  <%= @car.grade %>
</p>

<div class="form-actions">
	<%= link_to 'Edit', edit_car_path(@car), :class => 'btn btn-primary' %>
	<%= link_to 'Back', cars_path, :class => 'btn' %>
</div>