<h3>メーカー</h3>
<hr>

<table class='table table-hover table-striped'>
  <tr>
    <th>名前</th>
    <th>車種数</th>
    <th>グレード数</th>
    <th></th>
  </tr>

<% @makers.each do |maker| %>
  <tr>
    <td><%= maker.name %></td>
    <td><%= maker.car_names.size %></td>    
    <td><%= maker.cars.size %></td>    
    <td><%= link_to 'Show', maker %></td>
    <td><%= link_to 'Edit', edit_maker_path(maker) %></td>
    <td><%= link_to 'Destroy', maker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class="form-actions">
  <%= link_to 'New Maker', new_maker_path, :class => 'btn btn-primary' %>
</div>
