<div class="sidebar">
	<ul>
		<li>
			<%= link_to "Maker", makers_path %>
		</li>
		<li>
			<%= link_to "CarName", car_names_path %>
		</li>
		<li>
			<%= link_to "Car", cars_path %>
		</li>
		<li>
			<%= link_to "Company", companies_path %>
		</li>
		<li>
			<%= link_to "Store", stores_path %>
		</li>
		<li>
			<%= link_to "Staff", staffs_path %>
		</li>
		<li>
			<%= link_to "Customer", customers_path %>
		</li>
	</ul>
</div>	
