<script type="text/javascript">
//   $(function(){
//     $('.nav.nav-list li.active').removeClass('active');
//     $('.nav.nav-list li#<%= params[:controller] %>').addClass('active');
//   });
</script>

<ul class="nav nav-list">
  <li class="nav-header">機能</li>
  <li class="<%= 'active' if current_page? makers_path %>"><%= link_to "Maker", makers_path %></li>
  <li class="<%= 'active' if current_page? car_names_path %>"><%= link_to "CarName", car_names_path %></li>
  <li class="<%= 'active' if current_page? cars_path %>"><%= link_to "Car", cars_path %></li>
  <li class="<%= 'active' if current_page? companies_path %>"><%= link_to "Company", companies_path %></li>
  <li class="<%= 'active' if current_page? stores_path %>"><%= link_to "Store", stores_path %></li>
  <li class="<%= 'active' if current_page? staffs_path %>"><%= link_to "Staff", staffs_path %></li>
  <li class="<%= 'active' if current_page? customers_path %>"><%= link_to "Customer", customers_path %></li>
  <li class="<%= 'active' if current_page? users_path %>"><%= link_to "User", users_path %></li>
</ul>
