<%= simple_form_for(@car_name) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :maker, :collection => @maker, :prompt => '-' %>
    <%= f.input :name %>
    <%= f.button :submit, :"data-loading-text"=> ('simple_form.creating') %>
  </div>
<% end %>
