<%= form_for(@car_name) do |f| %>
  <% if @car_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_name.errors.count, "件のエラーが発生") %> </h2>

      <ul>
      <% @car_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maker_id %><br />
    <%= f.collection_select :maker_id , @maker, :id, :name ,:prompt => '選択してください' %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => '送信中...' %>
  </div>
<% end %>
