<%= simple_form_for(@car_name) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :maker, :collection => @maker, :prompt => '-' %>
    <%= f.input :name %>

  </div>
  <div  class="form-inputs">
    <%= f.button :submit, :disable_with => '送信中...' %>
  </div>
<% end %>
