<h1>車種名</h1>

<%= form_tag({:action => 'search', :page => 1 }, :remote => true ) do %> 
<%= select_tag 'makerid', options_from_collection_for_select(@maker, :id, :name) %>
<%= text_field_tag 'words' %>
<%= submit_tag '検索' , :class => 'btn btn-info' %>
<% end %>
  
<div id="search-result"></div>

<br />

<%= link_to 'New Car name', new_car_name_path %>
