<p id="notice"><%= notice %></p>

<p>
  <b>Maker:</b>
  <%= @car_name.maker.name %>
</p>

<p>
  <b>Name:</b>
  <%= @car_name.name %>
</p>


<%= link_to 'Edit', edit_car_name_path(@car_name) %> |
<%= link_to 'Back', car_names_path %>
